{% extends 'mahasiswa/base.html' %}
{% block content %}

<div class="container mt-4 text-center">

    <h2 class="fw-bold mb-4 text-primary">Daftar Mahasiswa</h2>

    <!-- Tombol di atas tabel -->
    <div class="d-flex justify-content-start mb-2" style="width: 80%; margin: 0 auto;">
        <a href="{% url 'tambah_mahasiswa' %}" class="btn btn-success">
            + Tambah Mahasiswa
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover mx-auto" style="width: 80%;">
            <thead class="table-primary">
                <tr>
                    <th>NIM</th>
                    <th>Nama</th>
                    <th>Program Studi</th>
                    <th>Aksi</th>
                </tr>
            </thead>

            <tbody>
                {% for mhs in mahasiswas %}
                <tr>
                    <td>{{ mhs.nim }}</td>
                    <td>{{ mhs.nama }}</td>
                    <td>{{ mhs.programstudi }}</td>
                    <td>
                        <a href="{% url 'edit_mahasiswa' mhs.id %}" class="btn btn-sm btn-warning">Edit</a>
                        <a href="{% url 'hapus_mahasiswa' mhs.id %}" class="btn btn-sm btn-danger">Hapus</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Logout -->
    <div class="mt-4">
        <a href="/accounts/logout/" class="btn btn-outline-danger fw-bold px-4">
            Logout
        </a>
    </div>

</div>

{% endblock %}
